version: '3.8'

services:
  bot:
    build: .
    container_name: wishlist_bot
    restart: unless-stopped
    depends_on:
      - redis
      - db
    environment:
      # Переменные, которые будут подтягиваться из Portainer
      - DYNACONF_BOT_TOKEN=${BOT_TOKEN}
      - DYNACONF_ADMIN_IDS=${ADMIN_IDS}
      - DYNACONF_REDIS_URL=redis://redis:6379/0
      # Настройка подключения к БД
      - DYNACONF_DB__DB_ASYNC_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      # Переменные для Alembic
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_HOST=db

  redis:
    image: redis:7-alpine
    container_name: wishlist_redis
    restart: unless-stopped
    volumes:
      - redis_data:/data

  db:
    image: postgres:15-alpine
    container_name: wishlist_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  redis_data:
  pg_data:
